<?xml version="1.0"?>

<opnsense>
  <theme>opnsense</theme>
{% include 'amon3/config/file/sysctl/sysctl.conf' %}
{% include 'amon3/config/file/system/system.conf' %}
{% include 'amon3/config/file/interfaces/interfaces.conf' %}
  <dhcpd/>
{% include 'amon3/config/file/unbound/unbound.conf' %}
{% include 'amon3/config/file/snmpd/snmpd.conf' %}
  <syslog>
    <reverse/>
  </syslog>
{% include 'amon3/config/file/filter/filter.conf' %}
  <rrd>
    <enable/>
  </rrd>
{% include 'amon3/config/file/loadbalancer/loadbalancer.conf' %}
{% include 'amon3/config/file/ntpd/ntpd.conf' %}
{% include 'amon3/config/file/widgets/widgets.conf' %}
{% include 'amon3/config/file/revision/revision.conf' %}
  <OPNsense>
{% include 'amon3/config/file/firewall/firewall.conf' %}	  
    <captiveportal version="1.0.0">
      <zones/>
      <templates/>
    </captiveportal>
    <cron version="1.0.1">
      <jobs/>
    </cron>
{% include 'amon3/config/file/ids/ids.conf' %}
    <OpenVPNExport version="0.0.1">
      <servers/>
    </OpenVPNExport>
{% include 'amon3/config/file/syslog/syslog.conf' %}
    <TrafficShaper version="1.0.3">
      <pipes/>
      <queues/>
      <rules/>
    </TrafficShaper>
{% include 'amon3/config/file/monit/monit.conf' %}
{% include 'amon3/config/file/netflow/netflow.conf' %}
    <Interfaces>
      <vxlans/>
      <loopbacks/>
    </Interfaces>
{% include 'amon3/config/file/proxy/proxy.conf' %}
{% include 'amon3/config/file/nginx/nginx.conf' %}
  </OPNsense>
  <ca/>
{% include 'amon3/config/file/gateway/gateway.conf' %}
{% include 'amon3/config/file/cert/cert.conf' %}
  <ppps>
    <ppp/>
  </ppps>
  <virtualip>
    <vip/>
  </virtualip>
{% include 'amon3/config/file/dhcrelay/dhcrelay.conf' %}
  <staticroutes/>
{% include 'amon3/config/file/nat/nat.conf' %}
</opnsense>
